:root {
    --title: #efefef;
    --bg-grey: #333333;
    --color-yellow: #ffcb37;
    --text-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--title);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    max-width: 80px;
  }

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-grey);
    color: var(--title);
}

.h2 {
    visibility: hidden;
}

.sidebarMov {
    background-color: red;
    position: absolute;
    top: 40%;
    left: 10%;
}

.sidebar {
    display: none;
}

/* MAIN */
.errorDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; 
    text-align: center; 
    padding: 100px;
}

/* FOOTER */
.footer-container {
    background-color: var(--bg-grey);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--title);
    gap: 20px;
    text-shadow: black 1px 2px 3px;
}

.unorderlist {
    display: flex;
    gap: 20px;
    list-style: none;
    color: var(--title);
    font-size: 20px;
}

.estosdev {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .sidebar {
        display: flex;
        background-color: var(--bg-grey);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 250px; 
        flex-direction: column;
        padding: 1rem;
        z-index: 10;
    }

    .sidebar-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        font-size: 20px;
        text-transform: uppercase;
        flex: 1;
        text-shadow: black 1px 2px 3px;
    }

    .sidebarMov {
        display: none;
    }
}