:root {
    --title: #efefef;
  --bg-grey: #333333;
  --color-yellow: #ffcb37;
  --text-color: #000000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--title);
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    flex-direction: column;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    position: relative;
  }


.logo{
    max-width: 80px;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-grey);
    color: var(--title);
    position: relative;
}

.h2 { /*Agregué este título para volver invisible ese h2 con clase h2 porque sino habia diferencias*/
    visibility:hidden;
}

.sidebarMov{
    background-color: red;
    position: absolute;
    top: 40%;
    left: 10%;
}

.sidebar{
    display: none;
}

/*MAIN*/

.formulario{
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%, 50%);
    width:420px ;
    background: var(--bg-grey);
    border-radius: 10px;  
    padding: 30px;   
}

.usuario, .recordar, .registrarse, .contraseña{
    font-size: 30px;
    color: var(--title);
    text-shadow: black 1px 2px 3px;
}

.inicio{
    color: var(--color-yellow);
    text-shadow: black 1px 2px 3px;
    text-align: center;
}

.usuario input{
    font-size: 30px;
    position:inherit;
    margin: 0px 0px 0px;    
}

.usuario label{
    position: absolute;
    right: 180px; 

}


.contraseña input{
    font-size: 30px;
    position:inherit;
    margin: 10px 0px 0px; 
}
.contraseña label{
    position: absolute;
    right: 160px;
    bottom: 145px;
}

#iniciar{
    display: block;
    align-items: center;
    margin: 20px auto 0;
    width: 40%;
    font-size: large;
}

.recordar{
    text-align: center;
}

.registrarse{
    text-align: center;
}







/*///F O O T E R ///*/

.footer-container{ /*esto va en la query?*/
    background-color:var(--bg-grey);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 20; /*footer quede encima de sidebar*/
    color: var(--title);
    gap:20px;
    text-shadow: black 1px 2px 3px;
}

.unorderlist{ /*links del footer*/   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    color:var(--title) ;
    font-size: 20px;
}   

.estosdev{ /*subrayado ancla*/
    text-decoration: underline;   
}


@media only screen and (min-width: 768px) {
    .sidebar{
        display: flex;
        background-color:var(--bg-grey); 
        position: fixed;
        

        .sidebar-items{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5rem;
            font-size: 20px;
            text-transform: uppercase;
            min-height: 100vh;
            padding: 1rem;
           z-index: 10; /*barra atrás del footer*/
           text-shadow: black 1px 2px 3px;
           

        }
        
    }

    .sidebarMov{
        display: none;
    }
}