:root {
  --title: #efefef;
  --bg-grey: #333333;
  --color-yellow: #ffcb37;
  --text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--title);
}

button {
  background-color: #ffcb37;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin: 0;
  font: inherit;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}

input {
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  font: inherit;
  color: var();
  box-shadow: none;
  appearance: none;
  outline: none;
}

main {
  padding: 1rem;
  display: grid;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.logo {
  max-width: 80px;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-grey);
  color: var(--title);
  position: relative;
}

.sidebarMov {
  background-color: red;
  position: absolute;
  top: 40%;
  left: 10%;
}

.sidebar {
  display: none;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    display: flex;
    background-color: var(--bg-grey);
    position: fixed;
    bottom: 0;
    top: 0;

    .sidebar-items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      font-size: 20px;
      text-transform: uppercase;
      padding: 1rem;
    }
  }

  .sidebarMov {
    display: none;
  }
}

.form-trans {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-grey);
  gap: 2rem;
  border-radius: 10px 10px;
  margin: 0 auto;
  padding: 1rem;
}

.form-items {
  display: grid;
  place-items: center;
  color: var(--title);
  gap: 1rem;

  span {
    color: var(--text-color);
    background-color: #ffcb37;
    padding: 7px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
  }
}
