:root {
    --title: #EFEFEF;
    --bg-blue: #3454D1;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--title);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
  }


.logo{
    max-width: 80px;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-blue);
    color: var(--title);
    position: relative;
}

.sidebarMov{
    background-color: red;
    position: absolute;
    top: 40%;
    left: 10%;
}

.sidebar{
    display: flex;
    position: absolute;
    top: 0%;/*por alguna razón tuve que poner este atributo, sino el nav quedaba más abajo*/
}


@media only screen and (min-width: 768px) {
    .sidebar{
        display: block;
        background-color: var(--bg-blue); 
        width: 15%;
        min-height: 100%;
        position: fixed;

        .sidebar-items{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5rem;
            font-size: 20px;
            text-transform: uppercase;
            min-height: 100vh;

        }
        
    }

    .sidebarMov{
        display: none;
    }
}